@import url(./components/Banner/Banner.css);
@import url(./components/CampoTexto/CampoTexto.css);
@import url(./components/Formulario/Formulario.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}